{% extends 'home/home_page.html' %}

{% load static wagtailcore_tags wagtailuserbar wagtailimages_tags static %}

{% block content %}
{% comment %} {% include 'blocks/spacer.html'%} {% endcomment %}
<spacer></spacer>

{% include 'blocks/card_list.html' with pages=projects hide_view_all_projects=True %}
{% endblock content %}


{% comment %} <section>
  <style>
    .project-item.large {
      flex: 0 0 50%;
    }

    .project-item {
      flex: 0 0 25%;
      margin-bottom: 3.5rem
    }

    @media screen and (max-width: 475px) {
      .project-item {
        flex: 0 0 100%;
        margin-bottom: 1rem;
      }

      .project-item.large {
        flex: 0 0 100%;

          {
          % comment %
        }

        tempoary measurement {
          % endcomment %
        }
      }
    }

    .link {
      color: rgba(0, 0, 0, 0.8);
      text-decoration: none;
    }

    .link:hover {
      color: rgba(0, 0, 0, 0.6);
      text-decoration: underline;
    }

    .link .link-text {
      display: inline-block;
      color: #000;
      font-size: 12px;
      line-height: 20px;
      font-weight: 500;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase;
    }

    .link .link-text:hover {
      text-decoration: underline;
    }

    .content>a {
      color: rgb(0, 0, 0);
      transition: 100ms;
    }

    .content:hover>a {
      color: rgba(0, 0, 0, 0.6);
    }

    .content img {
      transition: 100ms;
    }

    .content:hover img {
      filter: opacity(0.9);
    }
  </style>


  <div class="container" style="margin: 8em 2em;">
    <div style="display: flex; align-items: flex-start;
    flex-wrap: wrap; position: relative;margin: -0.5em;">
      {% for obj in projects %}

      <div class="project-item {%if forloop.counter|divisibleby:2%}{% if forloop.counter != 6 %} large{%endif%}{%endif%}">
        <div class="content" style="padding:0.5rem">

          {% image obj.image width-700 as tmp_photo %}
          <a href="{% pageurl obj %}"><img style="aspect-ratio: calc({{tmp_photo.width}}/{{tmp_photo.height}}); width:100%;" src="{{ tmp_photo.url }}"></a>

          <a href="{%pageurl obj%}" style="text-decoration: none;"><div class="content_">
            <h3 class="title">{{ obj.title }}</h3>
            <p class="body" style="color:rgba(0,0,0,0.6)">
              {{ obj.search_description }}
            </p>
          </div></a>
          <a class="link link-text" href="{%pageurl obj%}">Learn more<img style="margin-left: 0.5ch;"
              src="{% static 'icons/arrow.png' %}" width="9"></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section> {% endcomment %}