{% extends 'home/home_page.html' %}
{% load static wagtailcore_tags wagtailuserbar wagtailimages_tags static define_action %}

{% block title %}Books{% endblock %}

{% block content %}

<section style="min-height: 90vh; margin-top:5em; margin-bottom:3rem">
<div class="container mt-3">
  <ul class="" style="padding: 0; margin-bottom: 2em; font-size: 1.6666666667rem;">
    <li class="li-class">Books</li>
  </ul>
  <div class="" style="margin-bottom: 0.8em;">
    <span class="" style="color: var(--body-color);">{{ books|length }} books</span>
  </div>
</div>

{% load static wagtailcore_tags wagtailuserbar wagtailimages_tags static define_action %}



<section class="posts " style="margin-top: 0;">

  <style>
    .li-class{
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      display: inline-block !important;
      margin-right: .4666666667rem !important;
      font-size: 2rem;
    }
    .li-class>a{
      color:var(--link-color);
      text-decoration:none;
    }

    .asdf{
      transition: 100ms;
    }
    .asdf:hover{
      color: rgba(0,0,0,0.6);
    }

    @media (prefers-color-scheme: dark) {
      .asdf:hover {
        color:var(--link-color-hover)
      }
    }

    .container{
          max-width: 1470px;
          width: 93.3333333333%;
          margin-left: auto;
          margin-right: auto;
    }
    navbar:after{
      content: none;
    }

    .col1{
      flex: 0 0 25%;
    max-width: 25%;
    }
    .col2{
      flex: 0 0 60%;
    max-width: 60%;
    }
    .col3{
      flex: 0 0 15%;
    max-width: 15%;
    }
    @media screen and (max-width: 768px) {
      .col1{
        flex: 0 0 0%;
        max-width: 0%;
        display: none;
      }
      .col2{
        flex: 0 0 90%;
        max-width: 90%;
      }
      .col2.image{
        /* flex: 0 0 70%; */
        flex: 0 0 100%;
        /* max-width: 60%; */
        max-width: 100%;
        margin-right: 1rem;
      }
      .col3{
        flex: 0 0 30%;
       max-width: 30%;
      }

      .posts{
        margin-top: 3em;
      }
    }
    @media screen and (max-width: 324px) {
      .col2{
        flex: 0 0 90%;
        max-width: 90%;
      }
      .col3{
        display: none;
        flex: 0 0 0%;
        max-width: 0%;
      }
    }

    .row-list{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: wrap;
    }
  </style>

<div class="container">

  {% for obj in books %}


  <hr style="opacity: 0.0875;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    max-width: none;">
  <div class="row-list" style="margin: .9rem 0; font-family: 'lato';">

    <div class="col1" style="">
        {{obj.authors}}
    </div>

    <div class="col2">
      <div style="max-width: 30rem;">
        <a href="{% url 'problems:book_detail' id=obj.id %}" style="text-decoration: none;">
          <h5 class="asdf" style="">{{ obj.title }}</h5>
        </a>
      </div>
    </div>



  </div>
  {% endfor %}
  <hr style="opacity: 0.0875;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    max-width: none;">

</div>
</section>
</section>
{% endblock content %}