{% extends "base.html" %} {% load static wagtailcore_tags%}

{% block extra_head %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{page.title}}",
  {% if page.search_description %}"description":"{{page.search_description}}",{% endif %}
  {% if page.image %}"image": "https://cdn.lunalux.io{{page.image.url}}",{% endif %}
  "author": {
    "@type": "Person",
    "name": "{{page.user.get_full_name}}"
  },
  "name": "{{page.slug}}"
}
</script>

<link hx-preserve="true" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script hx-preserve="true" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<link hx-preserve="true" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.css" integrity="sha384-8QOKbPtTFvh/lMY0qPVbXj9hDh+v8US0pD//FcoYFst2lCIf0BmT58+Heqj0IGyx" crossorigin="anonymous">
<script hx-preserve="true" src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.js" integrity="sha384-GR8SEkOO1rBN/jnOcQDFcFmwXAevSLx7/Io9Ps1rkxWp983ZIuUGfxivlF/5f5eJ" crossorigin="anonymous"></script>
<script hx-preserve="true" src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/contrib/auto-render.min.js" integrity="sha384-cXpztMJlr2xFXyDSIfRWYSMVCXZ9HeGXvzyKTYrn03rsMAlOtIQVzjty5ULbaP8L" crossorigin="anonymous"></script>
{% endblock extra_head %}

{% block content %}
  <style>
    .article .content {
        position: relative;
        /* max-width: 700px; */
        margin: 0 auto;
        padding: 0;
        font-size: 18px;
        line-height: 1.5em;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        width: 100vw;
    }

    .content>.block-text{
      margin: 0 auto;
      padding: 0 1rem;
    }

    .content>.block-DescriptionBlock{
      margin: 0 auto;
      padding: 0 1rem;
      max-width: 700px;
    }

    .block-table{
      max-width: 700px;
      margin: 0 auto;
    }

    code[class*=language-], pre[class*=language-] {
      color: var(--body-color) !important;
      text-shadow: none !important;
    }

    .block-text iframe {
      width: 100%!important;
      height: 450px!important;
    }
  </style>

  <div id="article-content">
    {% include 'home/article_partial.html' with page=page series=series links=links series=series%}
  </div>

{% endblock content %}


{% block extra_js %}
  {% if series %}
  <script> // sidebar fixing
    var sidebar = document.getElementById('sidebar');
    window.addEventListener("scroll", function(){
      var articlePosition = document.getElementById('article').offsetTop;
      var articleBottom = document.getElementById('article').offsetHeight;

      if (window.pageYOffset > articlePosition){
        //sidebar.classList.add("fixed");
        sidebar.classList.add("open")


      } else {
        //sidebar.classList.remove("fixed");
        sidebar.classList.remove("open")
      }


      var AABB = {
          collide: function (el1, el2) {
            var rect1 = el1.getBoundingClientRect();
            var rect2 = el2.getBoundingClientRect();

            return !(
              rect1.top > rect2.bottom ||
              rect1.right < rect2.left ||
              rect1.bottom < rect2.top ||
              rect1.left > rect2.right
            );
          },

          inside: function (el1, el2) {
            var rect1 = el1.getBoundingClientRect();
            var rect2 = el2.getBoundingClientRect();

            return (
              ((rect2.top <= rect1.top) && (rect1.top <= rect2.bottom)) &&
              ((rect2.top <= rect1.bottom) && (rect1.bottom <= rect2.bottom)) &&
              ((rect2.left <= rect1.left) && (rect1.left <= rect2.right)) &&
              ((rect2.left <= rect1.right) && (rect1.right <= rect2.right))
            );
          }
        };

      let series = document.querySelector("#sidebar")
      let article = document.querySelectorAll(".content>*")
      article.forEach(el=>{
        if (AABB.collide(series,el)){
          console.log(AABB.collide(series,el))
          series.classList.remove("open")
        }
      })



      {% comment %} if (window.pageYOffset > articleBottom - 70){
        sidebar.classList.add("bottom");
      } else {
        sidebar.classList.remove("bottom");
      } {% endcomment %}
    })
  </script>
  {% endif %}
{% endblock extra_js %}