
<script id='chartjs' src="https://cdn.jsdelivr.net/npm/chart.js@3.5.0/dist/chart.min.js"></script>
<style>
    .ctrl{
        margin-top:1em;
        border: 0;
        outline: 0;
        cursor: pointer;
        border-radius: 5px;
        position: relative;
        box-shadow: 2px 2px 10px 2px var(--shadow-color);
        padding: 12px 36px;
        z-index: 5;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        background-color:hsla(264, 55%, 70%, 1);
        color:white;
        font: inherit;
        border: 0;
        outline: 0;
        transition: box-shadow 0.4s;
    }
    .ctrl:hover{
        box-shadow: 5px 5px 20px 2px var(--shadow-color);
    }

    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 15px;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;

    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: hsla(264, 55%, 70%, 1);
      cursor: pointer;
    }

    .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: hsla(264, 55%, 70%, 1);
      cursor: pointer;
    }

    input.graph{

        padding:1em;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
    }
    select.graph{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding:1em;
        border-radius: 5px;
        width: 100%;

    }

    .chart{
        padding:1em;
        border: solid 1px;
        border-radius: 5px;
    }
    .hidden{display:none;}
</style>
<div class="chart" style="margin: 0 auto; max-width: 750px;">
<div style="padding-left: 3em; padding-right: 3em;"><canvas id="myChart" width="400" height="200"></canvas></div>
<script>
if (document.documentElement.clientWidth < 600) {
  document.getElementById("myChart").height = 400;
}

</script>



<p>Population (<span id="population">100</span>):  <input  type="range" min="20" max="100" step="1" value="100" class="slider" id="pop"></p>

<p>Starting Wealth (<span id="startWealth">50</span>):  <input type="range" min="0" max="1000" step="1" value="50" class="slider" id="swealth"></p>

<p>Minimum skill (<span id="minSkill">1</span>):  <input type="range" min="1" max="10" step="0.1" value="1" class="slider" id="minskill"></p>
<p>Maximum skill (<span id="maxSkill">2</span>):  <input type="range" min="1" max="10" step="0.1" value="2" class="slider" id="maxskill"></p>
<p>Number of Customers (<span id="numberCustomers">20</span>):  <input type="range" min="1" max="20" step="1" value="20" class="slider" id="nCustomers"></p>

<p>
    <button id="start-stop" class="ctrl">Start</button>
</p>
</div>


<script>
htmx.onLoad(function(e) {
    if (typeof Chart != "function"){
        let script = document.getElementById("chartjs");
        script.onload = setupWidget;
    } else {
        setupWidget();
    }

})
{% comment %} Simulation {% endcomment %}
function setupWidget(){
  function getRandomSubarray(arr, size) {
      let shuffled = arr.slice(0), i = arr.length, temp, index;
      while (i--) {
          index = Math.floor((i + 1) * Math.random());
          temp = shuffled[index];
          shuffled[index] = shuffled[i];
          shuffled[i] = temp;
      }
      return shuffled.slice(0, size);
  }

  class Agent{
    constructor(startWealth, minSkill, maxSkill){
      this.wealth = startWealth;

      // skill between max and min skill
      this.skill = (maxSkill-minSkill)*Math.random()+minSkill
    }

    trade(customers){
      this.wealth += this.skill

      let nCustomers = customers.length
      let pricePerCustomer = this.skill/nCustomers

      customers.forEach((customer)=>{
        customer.wealth -= pricePerCustomer
      })
    }
  }

  function simulationRound(agents){
    agents.forEach((agent)=>{
      let customers = getRandomSubarray(agents, parseFloat(document.getElementById("nCustomers").value))
      agent.trade(customers)
    })
  }

  function agentWealth(agents){
    return agents.map((agent)=>agent.wealth)
  }

  function linspace(startValue, stopValue, cardinality) {
    let arr = [];
    let step = (stopValue - startValue) / (cardinality - 1);
    for (let i = 0; i < cardinality; i++) {
      arr.push(startValue + (step * i));
    }
    return arr;
  }

  function arange(n){
    return [...Array(n).keys()];
  }



  function convert_to_chartjs(xs,ys){
      let result = [];

      for (let i=0; i<xs.length; i++){
          result.push({
              "x":xs[i],
              "y":ys[i]
          });
      }
      return result;
  }


  let ctx = document.getElementById('myChart').getContext('2d');
  let myChart = new Chart(ctx, {
      type: 'scatter',
      data: {
          datasets: [{
              type: 'scatter',
              label: 'Agent Wealth',
              data: convert_to_chartjs(arange(parseFloat(document.getElementById("pop").value)), arange(parseFloat(document.getElementById("pop").value)).map(x=>50)),

              backgroundColor: 'hsla(264, 55%, 70%, 1)',
              borderColor: 'hsla(264, 55%, 70%, 1)',
              showLine: false,
              showPoint: true,
          }],
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true,
              },
              x: {
              }
          },
          animation: {
              duration: 150,
          },
      }
  });

  let isRunning = false;
  let intervalId = null;
  function updateChart(){
    let population = parseFloat(document.getElementById("pop").value);
    let startWealth = parseFloat(document.getElementById("swealth").value);
    let minSkill = parseFloat(document.getElementById("minskill").value);
    let maxSkill = parseFloat(document.getElementById("maxskill").value);
    let nCustomers = parseFloat(document.getElementById("nCustomers").value);

    document.getElementById("population").innerText= population
    document.getElementById("startWealth").innerText= startWealth
    document.getElementById("minSkill").innerText= minSkill
    document.getElementById("maxSkill").innerText= maxSkill
    document.getElementById("numberCustomers").innerText= nCustomers

    let agents = arange(population).map(x=>new Agent(startWealth, minSkill,maxSkill))

    myChart.data.datasets[0].data = convert_to_chartjs(arange(population), agentWealth(agents))
    myChart.update();

    window.clearInterval(intervalId);
    intervalId = window.setInterval(() => {
        if (isRunning){
          simulationRound(agents)
          myChart.data.datasets[0].data = convert_to_chartjs(arange(population), agentWealth(agents))
          myChart.update();

        }
    }, 150);
  }



  document.getElementById("pop").addEventListener("input",()=>{updateChart()});
  document.getElementById("swealth").addEventListener("input",()=>{updateChart()});
  document.getElementById("minskill").addEventListener("input",()=>{updateChart()});
  document.getElementById("maxskill").addEventListener("input",()=>{updateChart()});
  document.getElementById("nCustomers").addEventListener("input",()=>{updateChart()});
  updateChart()

  // events
  document.getElementById("start-stop").addEventListener("click",()=>{
      if (isRunning){
          isRunning=false;
          document.getElementById("start-stop").innerHTML="Start";
      } else {
          isRunning=true;
          document.getElementById("start-stop").innerHTML="Stop";
      }
  })
}
</script>