{% load wagtailcore_tags wagtailimages_tags static %}

<div class="about-blurb">
    <style>@media screen and (min-width: 400px){
        .hidden-non-mobile{
        display:none;
        }

    }
    @keyframes wave {
        from {transform: rotate(-5deg);}
        to {transform: rotate(10deg);}
    }
    #hand{
        animation: ease-in-out;
        animation-name: wave;
        animation-duration: 1s;
        display: inline-block;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        transform: translateY(1em);
        transform-origin: 80% 70%;
    }

    .container {
          max-width: 1470px;
          width: 93.3333333333%;
          margin-left: auto;
          margin-right: auto;
        }


    .block-AboutBlurb a:not(.normal-style){
        color: #246491;
        text-decoration: none;
        transition: border .15s cubic-bezier(.645, .045, .355, 1);
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
    .block-AboutBlurb a:not(.normal-style):hover{
        border-bottom-color: #246491;
    }

    .block-AboutBlurb .about-text{
        color:rgba(0,0,0,0.6);
    }
    @media (prefers-color-scheme: dark) {
        .block-AboutBlurb .about-text {
            color: var(--link-color)
        }
    }



    @media (prefers-color-scheme: dark) {
        .block-AboutBlurb a:not(.normal-style){
            color: var(--content-link-color)
        }
        .block-AboutBlurb a:not(.normal-style):hover{
            border-bottom-color: var(--content-link-color)
        }
    }


    {% comment %} .block-AboutBlurb a.normal-style:hover{
        color: rgba(0, 0, 0,0.6);
        text-decoration: underline;
    }
    .block-AboutBlurb a.normal-style{
        color:black;
        text-decoration:none;
        border-bottom:none;
    } {% endcomment %}
    </style>
    <spacer class="hidden-non-mobile"></spacer>
    <div class="container" style="margin-bottom: 3em;" >
    <h1 align="center">Hi <span id="hand">👋</span> , I'm Luna!</h1>
    <h2 align="center" style="display: block;font-size: 1.17em;margin-block-start: 1em;margin-block-end: 1em;margin-inline-start: 0px;margin-inline-end: 0px;">{{value.tagline}}</h2>

    </div>



    <div class="container">
        <h2>About</h2>
        <div class="" style="display:flex; justify-content: space-between; flex-wrap: wrap;">

            <div class="about-text" style="flex: 0 48%;  max-width: 65ch; margin-top: 0;">
                {{self.column1_text|richtext}}

            </div>
            <div class="about-text" style="flex: 0 0 48%;  max-width: 65ch; margin-top: 0;">
                {{self.column2_text|richtext}}
            </div>

        </div>


        <div style="margin-bottom:5em; margin-top: 1em;">
        <a class="link normal-style" href="{{value.page.url}}">Read more<img class="smart-invert" style="margin-left: 0.5ch;" src="{% static 'icons/arrow.png' %}" width="9"></a>
        </div>
    </div>
</div>