{% load static wagtailcore_tags wagtailuserbar wagtailimages_tags my_tags %}
<section>
    <style>
      .project-item.large {
        flex: 0 0 50%;
      }
      .project-item{
        flex: 0 0 25%;
        margin-bottom: 3.5rem
      }
        @media screen and (max-width: 475px){
          .project-item {
            flex: 0 0 100%;
            margin-bottom: 1rem;
          }
          .project-item.large{
            flex: 0 0 100%; {% comment %}tempoary measurement{% endcomment %}
          }
        }
      .link{
        color:var(--link-color);
        text-decoration: none;
      }
        .link:hover{
          color:var(--link-color-hover);
          text-decoration: underline;
        }

      .link .link-text{
        display: inline-block;
        color: var(--body-color);
        font-size: 12px;
        line-height: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
      }
        .link .link-text:hover{
          text-decoration: underline;
        }

      .content>a{
        color:var(--link-color);
        transition: 100ms;
      }
      .content:hover>a{
        color:var(--link-color-hover);
      }
      .content img{
        transition: 100ms;
      }
      .content:hover img:not(.arrow){
        filter: opacity(0.9);
      }



    </style>
    <div class="container">
    {% if not hide_title%}<h2>Projects</h2>{% endif %}
    <div style="display: flex; align-items: flex-start;
    flex-wrap: wrap; position: relative;margin: -0.5em;">

      {% if self.pages %}
          {% pageChooserBlockListToProperPages self.pages as pages %}
      {% endif %}

      {% for obj in pages %}

      <div class="project-item {%if forloop.counter|divisibleby:2%}{% if forloop.counter != 6 %} large{%endif%}{%endif%}">
        <div class="content" style="padding:0.5rem">

          {% image obj.image width-700 as tmp_photo %}
          <a href="{% pageurl obj %}" title="{{obj.title}}"><img style="aspect-ratio: calc({{tmp_photo.width}}/{{tmp_photo.height}}); width:100%;" src="{{ tmp_photo.url }}"></a>

          <a href="{%pageurl obj%}" style="text-decoration: none;"><div class="content_">
            <h3 class="title">{{ obj.title }}</h3>
            <p class="body" style="color:var(--color-muted)">
              {{ obj.search_description }}
            </p>
          </div></a>
          <a class="link link-text" href="{%pageurl obj%}">Learn more<img class="smart-invert arrow" style="margin-left: 0.5ch;"
              src="{% static 'icons/arrow.png' %}" width="9"></a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% if not hide_view_all_projects %}
    <div style="margin-bottom:5em">
      <a class="link" href="/projects">View all projects<img class="smart-invert" style="margin-left: 0.5ch;"
          src="{% static 'icons/arrow.png' %}" width="9"></a>
    </div>
    {% endif %}
    </div>
  </section>