{% load wagtailcore_tags wagtailimages_tags static define_action %}
{% if self.jumbotron %}
    {% pageToProperPage self.jumbotron as jumbotron %}
{% endif %}

<div class="single-col">
  <section>
    <div class="hero-card large hidden-xs" id="article">
      <div class="top-text" style="filter:drop-shadow(3px 3px 0px white);">{{jumbotron.id}}</div>

      {% image jumbotron.image width-700 as tmp_photo %}
      <div class="image" style="background-image: url({{tmp_photo.url}}),linear-gradient(rgba(255, 86, 255, 0.3),rgba(55, 143, 255, 0.3));"></div>
      <div class="content">
        <h1 class="title">{{jumbotron.title}}</h1>

        <a class="link link-text" href="">read<img class="smart-invert" style="margin-left: 0.5ch;" src="{% static 'icons/arrow.png' %}" width="9"></a>

      </div>
    </div>
  </section>
</div>