{% load wagtailcore_tags wagtailimages_tags static my_tags %}

<div class="single-col">
  <section>

      {% image self.image fill-1048x407 as tmp_photo %}
      <div style="
                margin:3rem 1rem;
                position: relative;
                overflow: hidden;">
                <img src="{{tmp_photo.url}}"
                     alt="{{ self.image.title }}"
                     {% if tmp_photo.focal_point %}
                     data-focus-x="{{ tmp_photo.focal_point.centroid.x }}"
                     data-focus-y="{{ tmp_photo.focal_point.centroid.y }}"
                     data-focus-width="{{ tmp_photo.focal_point.width }}"
                     data-focus-height="{{ tmp_photo.focal_point.height }}"
                     {% endif %}
                     style="
                            height: 407px;
                            object-fit: cover;
                            border-radius: 5px;"
                />

      </div>

  </section>
</div>