{% load static wagtailcore_tags wagtailuserbar wagtailimages_tags static define_action %}



<section class="posts " style="margin-top: 0;">

  <style>
    /* body{
          font-family: helvetica;

    } */
    .posts{
      margin-top: 5em;
    }

    .li-class{
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      display: inline-block !important;
      margin-right: .4666666667rem !important;
      font-size: 2rem;
    }
    .li-class>a{
      color:var(--link-color);
      text-decoration:none;
    }

    .asdf{
      transition: 100ms;
    }
    .asdf:hover{
      color: rgba(0,0,0,0.6);
    }

    @media (prefers-color-scheme: dark) {
      .asdf:hover {
        color:var(--link-color-hover)
      }
    }

    .container{
          max-width: 1470px;
          width: 93.3333333333%;
          margin-left: auto;
          margin-right: auto;
    }
    navbar:after{
      content: none;
    }

    .col1{
      flex: 0 0 25%;
    max-width: 25%;
    }
    .col2{
      flex: 0 0 60%;
    max-width: 60%;
    }
    .col3{
      flex: 0 0 15%;
    max-width: 15%;
    }
    @media screen and (max-width: 768px) {
      .col1{
        flex: 0 0 0%;
        max-width: 0%;
        display: none;
      }
      .col2{
        flex: 0 0 90%;
        max-width: 90%;
      }
      .col2.image{
        /* flex: 0 0 70%; */
        flex: 0 0 100%;
        /* max-width: 60%; */
        max-width: 100%;
        margin-right: 1rem;
      }
      .col3{
        flex: 0 0 30%;
       max-width: 30%;
      }

      .posts{
        margin-top: 3em;
      }
    }
    @media screen and (max-width: 324px) {
      .col2{
        flex: 0 0 90%;
        max-width: 90%;
      }
      .col3{
        display: none;
        flex: 0 0 0%;
        max-width: 0%;
      }
    }

    .row-list{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: wrap;
    }
  </style>

<div class="container">
  {% if self.pages %}
      {% pageChooserBlockListToProperPages self.pages as pages %}
  {% endif %}

  {% for obj in pages %}


  <hr style="opacity: 0.0875;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    max-width: none;">
  <div class="row-list" style="margin: .9rem 0; font-family: 'lato';">

    <div class="col1" style="">
      {% if obj.tags.first %}<a style="color: #666; font-size: 1rem; text-decoration: none;" href="/articles/tag/{{ obj.tags.first }}">{{obj.tags.first}}</a>{%endif%}
    </div>


    <div class="col2 {% if include_images and obj.image and obj.include_image_in_article_list %}image{%endif%}">
      <div style="max-width: 30rem;">
        <a href="{% pageurl obj %}" style="text-decoration: none;">
          <h5 class="asdf" style="">{{ obj.title }}</h5>

          {% if include_images and obj.image and obj.include_image_in_article_list %}<p style="font-size: 1rem; margin-bottom: 0;    color: var(--color-muted); margin-top: 0.5rem;">
          {{ obj.search_description }}
          </p>
          {% endif %}
        </a>
      </div>
    </div>

    {% if include_images and obj.image and obj.include_image_in_article_list %}
    <div class="col3" style="">
      <a href="{% pageurl obj %}">
        {% image obj.image width-600 as tmp_photo %}
        <img style="aspect-ratio: calc({{tmp_photo.width}}/{{tmp_photo.height}}); width:100%;" alt="{{tmp_photo.alt}}" src="{{ tmp_photo.url }}">
      </a>
    </div>
    {% endif %}

  </div>
  {% endfor %}
  <hr style="opacity: 0.0875;
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    max-width: none;">


  {% if link_to_blog %}
    <div style="margin-top:2rem;margin-bottom: 5rem;">
      <a class="link" href="/articles">View all articles<img class="smart-invert" style="margin-left: 0.5ch;"
          src="{% static 'icons/arrow.png' %}" width="9"></a>
    </div>
  {% endif %}

</div>
</section>