<div class="single-col">
<div class="section-header">
    <h1>Continue reading</h1>
</div>

{% if links %}
<div class="container" style="margin-top: 1.8em;">
    <h2 title="Pages that link here">Backlinks</h2>
</div>
{% include 'blocks/lines_list.html' with pages=links include_images=True use_htmx=True%}
{% endif %}

{% if page.tags.all %}
<div class="container" style="margin-top:1.8em;">
    <h2>Tags</h2>
    <ul class="tags">
        {% for tag in page.tags.all%}
        <a href="/tag/{{tag.slug}}"><li>{{tag.name}}</li></a>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% if similar_objects %}
<div class="container" style="margin-top: 1.8em;">
    <h2 title="Pages with similar tags">Recommended</h2>
</div>
{% include 'blocks/lines_list.html' with pages=similar_objects include_images=True use_htmx=True%}
{% endif %}
</div>
