{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="{{page.seo_description}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link hx-preserve="true" rel="stylesheet" type="text/css" href="{% static 'css/lunalux.css' %}">
        <link hx-preserve="true" rel="stylesheet" type="text/css" href="{% static 'css/gi.css' %}">

        <link hx-preserve="true" href="https://fonts.googleapis.com/css?family=Lato|Roboto|Montserrat:wght@300;400" rel="stylesheet">
        <link hx-preserve="true" rel="icon" href="{% static 'icons/logo.ico'%}">

        <link hx-preserve="true" id="code-dark-theme" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
        <link hx-preserve="true" id="code-light-theme" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-light.min.css">
        <script hx-preserve="true" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>


        <link hx-preserve="true" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.css" integrity="sha384-8QOKbPtTFvh/lMY0qPVbXj9hDh+v8US0pD//FcoYFst2lCIf0BmT58+Heqj0IGyx" crossorigin="anonymous">
        <script hx-preserve="true" src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/katex.min.js" integrity="sha384-GR8SEkOO1rBN/jnOcQDFcFmwXAevSLx7/Io9Ps1rkxWp983ZIuUGfxivlF/5f5eJ" crossorigin="anonymous"></script>
        <script hx-preserve="true" src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.9.0-alpha1/contrib/auto-render.min.js" integrity="sha384-cXpztMJlr2xFXyDSIfRWYSMVCXZ9HeGXvzyKTYrn03rsMAlOtIQVzjty5ULbaP8L" crossorigin="anonymous"></script>

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        {% block extra_head %}
        {% endblock %}

        <link hx-preserve="true" rel="stylesheet" type="text/css" href="{% static 'font-awesome/fontawesome.css'%}">
        <link hx-preserve="true" rel="stylesheet" type="text/css" href="{% static 'font-awesome/solid.css'%}">

        <script hx-preserve="true" src="https://unpkg.com/htmx.org@1.9.12"></script>
        <script hx-preserve="true" src="https://unpkg.com/htmx.org@1.9.12/dist/ext/head-support.js"></script>

    </head>

    <body class="{% block body_class %}{% endblock %}" hx-ext="head-support">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-CFV1NFBRY4"></script>

        {% wagtailuserbar %}

        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock navbar %}

        <main id="main" style="min-height:95vh;">
        {% block content %}{% endblock %}
        </main>


        {% include "footer.html" %}

        {# Global javascript #}
        <script>
            // add slugify method to string for use in header links
            String.prototype.slugify = function (separator = "-") {
                return this
                    .toString()
                    .normalize('NFD')                   // split an accented letter in the base letter and the acent
                    .replace(/[\u0300-\u036f]/g, '')   // remove all previously split accents
                    .toLowerCase()
                    .trim()
                    .replace(/[^a-z0-9 ]/g, '')   // remove all chars not letters, numbers and spaces (to be replaced)
                    .replace(/\s+/g, separator);
            };

            function addHeaderLinks(){
                document.querySelectorAll('.article .content').forEach((article) => {
                    article.querySelectorAll("h2, h3, h4, h5, h6").forEach((el)=>{
                        el.setAttribute("id",el.textContent.slugify())

                        beforeEl = document.createElement("a")
                        beforeEl.setAttribute("href", "#" + el.textContent.slugify())
                        beforeEl.setAttribute("class", "heading-anchor")
                        beforeEl.innerHTML = '<i class="fas fa-link"></i>'

                        el.insertBefore(beforeEl, el.firstChild)
                        })
                    })
            }

            addHeaderLinks()
        </script>


        <script>
            window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', event => {
                const newColorScheme = event.matches ? "dark" : "light";
                if (newColorScheme === "dark") {
                    document.getElementById("code-light-theme").disabled = true;
                    document.getElementById("code-dark-theme").disabled = false;
                } else {
                    document.getElementById("code-light-theme").disabled = false;
                    document.getElementById("code-dark-theme").disabled = true;
                }
            });
        </script>

        <script>
        htmx.onLoad(function(elt){

            renderMathInElement(document.body, {"delimiters": [
                {left: "$$", right: "$$", display: true},
                {left: "$", right: "$", display: false}
            ]});

            hljs.highlightAll();

            // set up heading anchors
            addHeaderLinks()

            if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                // dark mode
                document.getElementById("code-light-theme").disabled = true;
                document.getElementById("code-dark-theme").disabled = false;
            }

            // attempt to add hover preview for appropriate rich text fields
            document.querySelectorAll('.block-text a:not(.heading-anchor)').forEach((el) => {
                // add popover
                if (el.href.includes(window.location.origin)){
                    el.addEventListener("mouseover", (e) => {
                        if (!el.querySelector(".popover")){
                            let popover = document.createElement("div")
                            popover.classList.add("popover")

                            if(!el.querySelector(".popover")){
                                // avoid loading multiple popovers when loading
                                // a better way would be insert a lock into the dom immediately,
                                // but that would render the popover when the page is still loading
                                // and I would have to add some loading element
                                // TODO: later.
                                el.appendChild(popover)
                            }

                            fetch(`{% url 'home:hover-preview' %}?url=${el.href}`).then(function(response) {
                                if (response.ok){
                                    popover.innerHTML = response.text().then(function(text){
                                        popover.innerHTML = text

                                        let movePopover = () => {
                                            let leftOffset = el.getBoundingClientRect().left
                                            let popoverMaxWidth = 300;

                                            let rem = 16;

                                            if (leftOffset + popoverMaxWidth > window.innerWidth){
                                                leftOffset = window.innerWidth - popoverMaxWidth - 1*rem;
                                            }

                                            popover.style.left = leftOffset + "px"
                                        }

                                        movePopover()

                                        window.addEventListener('resize', function(){
                                            movePopover()
                                        })

                                    })
                                }
                            })

                        }
                    })
                }
            })

            delete cc;
            var cc = new CC("450ad205c5a44a228c74c1dfdcfc30b5");

            // load google analytics if appropriate.
            if (cc.hasConsented('performance')) {
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'G-CFV1NFBRY4');
            }
        })
        </script>
        <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
        </script>

        <script src="https://cdn.cookiecook.io/core/cc.js"></script>
        <style>
        .cc-badge{
            display:none;
        }
        </style>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
