{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
        </title>
        <meta name="description" content="{{page.seo_description}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link hx-preserve="true" rel="stylesheet" type="text/css" href="{% static 'css/lunalux.css' %}">
        <link hx-preserve="true" rel="stylesheet" type="text/css" href="{% static 'css/gi.css' %}">

        <link hx-preserve="true" href="https://fonts.googleapis.com/css?family=Lato|Roboto|Montserrat:wght@300;400" rel="stylesheet">
        <link hx-preserve="true" rel="icon" href="{% static 'icons/logo.ico'%}">

        {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        {% block extra_head %}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}" hx-ext="head-support">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-CFV1NFBRY4"></script>
        <script>
        window.addEventListener('DOMContentLoaded',function () {
            if (cc.hasConsented('performance')) {
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-CFV1NFBRY4');
            }
        });
        </script>

        {% wagtailuserbar %}

        {% block navbar %}
        {% include 'navbar.html' %}
        {% endblock navbar %}

        <main id="main" style="min-height:95vh;">
        {% block content %}{% endblock %}
        </main>


        {% include "footer.html" %}

        {# Global javascript #}
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/head-support.js"></script>
        <script>
        htmx.onLoad(function(elt){
            console.log(elt)
            delete cc;
            var cc = new CC("450ad205c5a44a228c74c1dfdcfc30b5");
        })
        </script>
        <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
        </script>

        <script type="text/javascript" src="{% static 'js/lunalux.js' %}"></script>

        <script src="https://cdn.cookiecook.io/core/cc.js"></script>
        <style>
        .cc-badge{
            display:none;
        }
        </style>

        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/js/all.min.js" integrity="sha512-8pHNiqTlsrRjVD4A/3va++W1sMbUHwWxxRPWNyVlql3T+Hgfd81Qc6FC5WMXDC+tSauxxzp1tgiAvSKFu1qIlA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </body>
</html>
