{% load static %}
<navbar>
      {% comment %} <div class="logo">
        <a href="/">
          <img src="{% static 'icons/logo.svg' %}"/>
        </a>
      </div> {% endcomment %}
      <div class="links">
        <div class="left">
          <ul>
            <li><a class="hidden-sm" href="/">home</a></li>
            <li><a href="/articles">essays</a></li>
          </ul>
        </div>
        <div class="right">
          <ul>
            <li><a href="">about</a></li>
          </ul>
        </div>
      </div>
    </navbar>