{% load static %}
<navbar>
  <div class="links">
    <div class="left">
      <ul>
        <li><a href="/"><i class="fa-solid fa-house" style="padding-right:0.25rem;"></i><span>Luna Lux</span></a></li>

      </ul>
    </div>
    <div class="right">
      <ul class="hidden-sm">
        <li>
          <a href="/start-here">
            <i class="fa-solid fa-star"></i>
            <span>start here</span>
          </a>
        </li>
        <li>
          <a href="/timeline">
            <i class="fa-solid fa-pen"></i>
            <span>Writing</span>
            <i class="fa-solid fa-angle-down"></i>
          </a>
          <div class="dropdown">
            <ul>
              <li>
                <a href="/projects">
                  <i class="fa-solid fa-table"></i>
                  <span>projects</span>
                </a>
              </li>
              <li>
                <a href="/articles">
                  <i class="fa-solid fa-newspaper"></i>
                  <span>essays</span>
                </a>
              </li>
              <li>
                <a href="/notes">
                  <i class="fa-solid fa-feather-pointed"></i>
                  <span>notes</span>
                </a>
              </li>
              <li><hr style="margin: 2px auto;max-width: 50px;border-width: 0.5px;"></li>
              <li>
                <a href="/feeds">
                  <i class="fa-solid fa-rss"></i>
                  <span>feeds</span>
                </a>
              </li>
              <li>
                <a href="/trending">
                  <i class="fa-solid fa-arrow-trend-up"></i>
                  <span>trending</span>
                </a>
              </li>
              <li>
                <a href="/timeline">
                  <i class="fa-solid fa-list-ul"></i>
                  <span>timeline</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <a href="/garden">
            <i class="fa-solid fa-tree"></i>
            <span>garden</span>
            <i class="fa-solid fa-angle-down"></i>
          </a>
          <div class="dropdown">
            <ul>
              <li><a href="/garden/?garden_status=seedling"><span>🌱 seedling</span></a></li>
              <li><a href="/garden/?garden_status=budding"><span>🌿 budding</span></a></li>
              <li><a href="/garden/?garden_status=evergreen"><span>🌳 evergreen</span></a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="/about">
            <i class="fa-solid fa-user"></i>
            <span>about</span>
            <i class="fa-solid fa-angle-down"></i>
          </a>
          <div class="dropdown">
            <ul>
              {% comment %} <li><a href="/now"><i class="fa-solid fa-clock"></i><span>now</span></a></li> {% endcomment %}
              <li><a href="/resume"><i class="fa-solid fa-file"></i><span>resume</span></a></li>
              <li><a href="/about#contact-section"><i class="fa-solid fa-address-card"></i><span>contact</span></a></li>
              <li><a href="/colophon"><i class="fa-solid fa-globe"></i><span>colophon</span></a></li>
              <li><hr style="margin: 2px auto;max-width: 50px;border-width: 0.5px;"></li>
              <li><a href="/about/privacy-policy"><i class="fa-solid fa-fingerprint"></i><span>privacy</span></a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="/search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span>search</span>
          </a>
        </li>
      </ul>
      <ul class="hidden-big">
        <li id="open-modal"><i class="fa-solid fa-bars"></i></li>
        <li id="close-modal" class="hidden"><i class="fas fa-times"></i></li>
      </ul>
    </div>
  </div>
</navbar>


<style>

#open-modal {
  color: var(--color-muted);
}

#close-modal {
  color: var(--color-muted);

}

.bar-modal {
    position: absolute;
    min-height: 100%;
    width: 100%;
    background: var(--body-bg);
    top: 55px;
    display: flex;
    justify-content: center;
}

.bar-modal .modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bar-modal a {

    padding: 0.5rem 0;
    display:block;

    color: var(--color-muted);
    letter-spacing: 0px;
    margin-top: 0px;
    margin-left: 0px;
    font-size: 0.95rem;
    text-transform: capitalize;
    text-decoration: none;
}

.bar-modal i {
  margin-right:0.25rem;
  width: 17px;
}

.bar-modal .dropdown ul {
  padding: 0 1.5rem;
}
</style>
<script>
  function toggleDropdown(id){
    document.getElementById(id).classList.toggle("hidden");
    document.getElementById(id+"-toggle").classList.toggle("fa-angle-down");
    document.getElementById(id+"-toggle").classList.toggle("fa-angle-up");

  }
</script>
<modal class="bar-modal hidden " style="z-index:10" id="modal">
    <ul style="list-style: none; padding:0; margin-top:0;">
        <li>
          <a href="/start-here">
            <i class="fa-solid fa-star"></i>
            <span>start here</span>
          </a>
        </li>
        <li>
          <a onclick="toggleDropdown('timeline-dropdown')" style="cursor:pointer;">
            <i class="fa-solid fa-pen"></i>
            <span>writing</span>
            <i id="timeline-dropdown-toggle" class="fa-solid fa-angle-down"></i>
          </a>
          <div id="timeline-dropdown" class="dropdown hidden">
            <ul>
              <li>
                <a href="/projects">
                  <i class="fa-solid fa-table"></i>
                  <span>projects</span>
                </a>
              </li>
              <li>
                <a href="/articles">
                  <i class="fa-solid fa-newspaper"></i>
                  <span>essays</span>
                </a>
              </li>
              <li>
                <a href="/notes">
                  <i class="fa-solid fa-feather-pointed"></i>
                  <span>notes</span>
                </a>
              </li>
              <hr style="margin: 10px auto;max-width: 100%;border-width: 0.8px;border-radius: 10px;">
              <li>
                <a href="/feeds">
                  <i class="fa-solid fa-rss"></i>
                  <span>feeds</span>
                </a>
              </li>
              <li>
                <a href="/trending">
                  <i class="fa-solid fa-arrow-trend-up"></i>
                  <span>trending</span>
                </a>
              </li>
              <li>
                <a href="/timeline">
                  <i class="fa-solid fa-list-ul"></i>
                  <span>timeline</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li>
          <a onclick="toggleDropdown('garden-dropdown')" style="cursor:pointer;">
            <i class="fa-solid fa-tree"></i>
            <span>garden</span>
            <i id="garden-dropdown-toggle" class="fa-solid fa-angle-down"></i>
          </a>
          <div id="garden-dropdown" class="dropdown hidden">
            <ul>
              <li><a href="/garden"><span>🪴 garden</span></a></li>
              <li><a href="/garden/?garden_status=seedling"><span>🌱 seedling</span></a></li>
              <li><a href="/garden/?garden_status=budding"><span>🌿 budding</span></a></li>
              <li><a href="/garden/?garden_status=evergreen"><span>🌳 evergreen</span></a></li>
            </ul>
          </div>
        </li>
        <li>
          <a onclick="toggleDropdown('about-dropdown')" style="cursor:pointer;">
            <i class="fa-solid fa-user"></i>
            <span>about</span>
            <i id="about-dropdown-toggle" class="fa-solid fa-angle-down"></i>
          </a>
          <div id="about-dropdown" class="dropdown hidden">
            <ul>
              <li><a href="/about"><i class="fa-solid fa-user"></i><span>about</span></a></li>
              {% comment %} <li><a href="/now"><i class="fa-solid fa-clock"></i><span>now</span></a></li> {% endcomment %}
              <li><a href="/resume"><i class="fa-solid fa-file"></i><span>resume</span></a></li>
              <li><a href="/about#contact-section"><i class="fa-solid fa-address-card"></i><span>contact</span></a></li>
              <li><a href="/colophon"><i class="fa-solid fa-globe"></i><span>colophon</span></a></li>
              <hr style="margin: 10px auto;max-width: 100%;border-width: 0.8px;border-radius: 10px;">
              <li><a href="/about/privacy-policy"><i class="fa-solid fa-fingerprint"></i><span>privacy</span></a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="/search">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span>search</span>
          </a>
        </li>
      </ul>
</modal>

<script>
  let openModal = document.getElementById("open-modal")
  let closeModal = document.getElementById("close-modal")
  let modal = document.getElementById("modal")

  openModal.addEventListener("click", ()=>{
    let main = document.getElementById("main")
    let footer = document.getElementById("footer")

    modal.classList.remove("hidden")
    openModal.classList.add('hidden')
    closeModal.classList.remove("hidden")
    main.classList.add("hidden")
    footer.classList.add("hidden")
  })
  closeModal.addEventListener("click", ()=>{
    let main = document.getElementById("main")
    let footer = document.getElementById("footer")

    modal.classList.add("hidden")
    openModal.classList.remove('hidden')
    closeModal.classList.add("hidden")
    main.classList.remove("hidden")
    footer.classList.remove("hidden")
  })
</script>